<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAw4J2vVxlsfqs0AM-bIUVfk23v_vctoZI&sensor=false">
    </script>
  </head>
  <body>
    <div id="map_canvas" style="width:100%; height:100%"></div>
    <div id="tweets-panel">
        <div class="btn-readmore">Read More</div>
        <div id="tweets">
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
